DB_MODE=mongo
MONGODB_URI=mongodb://localhost:27017/aegis-id
MONGODB_URI_C=<local mongodb url on cloud>
POSTGRES_URL=postgresql://USER:PASSWORD@HOST:5432/DB?schema=public

JWT_SECRET=secret
JWT_EXPIRE=7d

IP=10.95.124.171

PORT=3000
DATABASE=CLOUD
GMAIL_ID=<for sending OTP>
GMAIL_PASSWORD=