DB_MODE=sql
POSTGRES_URL=postgresql://USER:PASSWORD@HOST:5432/DB?schema=public

JWT_SECRET=secret
JWT_EXPIRE=7d

PORT=3000
FRONTEND_URL=http://localhost:8081
GMAIL_ID=<for sending OTP>
GMAIL_PASSWORD=